@import "../../../../style.const.scss";

.news {
  color: $text-blue-color;
  margin-top: 16px;
  padding: 0 10px;
  p {
    line-height: 150%;
    font-size: 22px;
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    margin-bottom: 11px;
  }

  &_links {
    a {
      text-decoration: none;
      color: $text-blue-color;
      font-size: 22px;
      font-family: Calibri, sans-serif;
      text-decoration: underline;
      text-decoration-color: black;
      cursor: pointer;
    }
  }

  &_pdfs {
    a {
      text-decoration: none;
      color: #363633;
    }
  }
}

.collage_wrapper_img {
  width: 100%;
  padding: 0 10px;
}
